@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --header-background-color: #ffffff;
  --border-color: #eeeeee;
}

/* цвет шрифта лого #000000; */
/* цвет телефона и міла в футере color: rgba(255, 255, 255, 0.6); */
/* ховер на кнопке rgba(255, 255, 255, 0) 100%) */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

ul {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 767px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.modal-form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .header-logo-wraper {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo-wraper {
    margin-right: 93px;
  }
}

.logo__text {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo__text {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__text--header {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

@media screen and (min-width: 1200px) {
  .logo__text--header {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo__text--footer {
  color: var(--white-text-color);
}

.logo-footer {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .logo-footer {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navigation {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
  .nav-list .nav-list-link.current {
    color: var(--accent-color);
  }
  .current {
    position: relative;
  }
  .current::after {
    display: block;
    position: absolute;
    content: '';
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--accent-color);
    left: 0;
    bottom: 0;
  }
  .nav-list-link {
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list-link:hover, .nav-list-link:focus {
    color: var(--accent-color);
  }
  .nav-list-item:not(:last-child) {
    margin-right: 50px;
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 206px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--white-text-color);
}

.social-list-item {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .subscribe {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .subscribe {
    display: flex;
    flex-direction: column;
    margin-left: 166px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: auto;
  }
}

.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .subscribe-title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-title {
    width: 570px;
  }
}

.subscribe-label-wrapper {
  position: relative;
}

@media screen and (max-width: 1199px) {
  .subscribe-label-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.subscribe-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .subscribe-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe-input {
    margin-bottom: 20px;
  }
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
}

.subscribe-btn {
  display: inline-block;
  width: 210px;
  padding: 10px 28px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--white-text-color);
  text-align: center;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-list {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.filter-list__btn {
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  border-width: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__btn:hover, .filter-list__btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-list__item:nth-child(3) {
    margin-right: 20px;
  }
  .filter-list__item:not(:nth-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  padding: 0;
}

.closebutton {
  width: 11px;
  height: 11px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-head {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.modal-form-wrapper {
  position: relative;
  display: block;
}

.modal-form-label {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
}

.modal-form-input {
  display: block;
  padding-left: 42px;
  margin-top: 4px;
  width: 100%;
  height: 40px;
  font: inherit;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
  cursor: pointer;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
  cursor: pointer;
}

.modal-form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-btn {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.checkbox-policy {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  margin-bottom: 30px;
  margin-top: 10px;
}

.checkbox-policy::before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 4px;
  margin-right: 7px;
}

.checkbox:checked + .checkbox-policy::before {
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border: transparent;
  cursor: pointer;
}

.checkbox-policy-link {
  color: var(--accent-color);
}

.second-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .second-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--header-background-color);
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 3;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 25px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 0;
    top: 10px;
    right: 0;
  }
  .mobile-menu__icon {
    width: 40px;
    height: 40px;
  }
  .nav-list-link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    color: var(--title-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list-link:hover, .nav-list-link:focus {
    color: var(--accent-color);
  }
  .nav-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .mobile-sotial-list {
    display: flex;
  }
  .mobile-sotial-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-sotial-link:hover, .mobile-sotial-link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .header__menu-btn {
    background-color: transparent;
    border: none;
    height: 40px;
    padding: 0;
  }
  .header__menu-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header__menu-btn {
    display: none;
  }
}

.contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    align-items: center;
  }
}

.contacts-list {
  display: flex;
}

@media screen and (min-width: 768px) {
  .contacts-list:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    margin-left: 50px;
  }
}

.contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover, .contacts-link:focus {
  color: var(--accent-color);
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
  color: var(--accent-color);
}

.hero-section {
  margin: 0 auto;
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  background-size: cover;
}

@media screen and (min-width: 480px) {
  .hero-section {
    width: 600px;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-header {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
}

@media screen and (min-width: 1200px) {
  .hero-header {
    font-size: 44px;
    line-height: 1.4;
  }
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .advantage-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantage-item {
    width: calc((100% - 60px) / 2);
  }
  .advantage-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .advantage-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-item {
    width: calc((100% - 90px) / 4);
  }
  .advantage-item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

@media screen and (max-width: 767px) {
  .advantages-title {
    text-align: center;
  }
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  height: 120px;
}

@media screen and (min-width: 768px) {
  .thumb {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .thumb {
    width: 270px;
  }
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

.advantages-paragraph {
  font-size: 14px;
  line-height: 1.7;
}

.work {
  padding-top: 47px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  list-style-type: none;
}

.work-list-item {
  margin-left: 30px;
  margin-top: 30px;
}

.work-list-overlay {
  position: relative;
}

.overlay-item {
  position: absolute;
  bottom: 0;
  padding: 27px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: var(--secondary-background-color);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team-list-img {
  width: 100%;
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-list-item {
    width: calc((100% - 60px) / 2);
  }
  .team-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .team-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    width: calc((100% - 90px) / 4);
  }
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list-bottom-part {
  background-color: var(--header-background-color);
  padding: 30px 30px;
}

.team-title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team-profession {
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.clients-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  width: 210px;
  height: 92px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover, .clients-list-link:focus {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .clients-list-link {
    width: 170px;
  }
}

.clients-list-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-link:hover .clients-list-icon,
.clients-list-link:focus .clients-list-icon {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (min-width: 768px) {
  .footer-items {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-items {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1199px) {
  .footer-contacts {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    margin-right: 70px;
    margin-right: 165px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin-right: 70px;
  }
}

.footer-join {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .footer-join {
    margin-bottom: 60px;
  }
}

.join {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);
}

@media screen and (max-width: 767px) {
  .join {
    margin: auto;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .join {
    margin: auto;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    width: 206px;
  }
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 60px;
  }
}

.address-map {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-text-color);
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .address-map {
    display: block;
    text-align: center;
  }
}

.address-link {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .address-link {
    display: block;
    text-align: center;
  }
}

.join-footer {
  display: flex;
}

.footer-social-link {
  background-color: #44454e;
}

.footer-icon {
  fill: white;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-list-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-list-item {
    width: calc((100% - 60px) / 2);
  }
  .portfolio-list-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .portfolio-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list-item {
    width: calc((100% - 90px) / 3);
  }
  .portfolio-list-item:nth-child(2n) {
    margin-right: 30px;
  }
}

.portfolio-link {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .portfolio-link {
    display: block;
  }
}

.portfolio-img {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .portfolio-img {
    width: 370px;
    height: 294px;
  }
}

.portfolio-link-sign {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: 0;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  overflow: auto;
  background-color: var(--accent-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);
  padding: 63px 24px;
  background-color: var(--accent-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0%);
}
/*# sourceMappingURL=main.css.map */