.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-items {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.footer-contacts {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    margin-right: 70px;
    margin-right: 165px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer-join {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.join {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-text-color);

  @media screen and (max-width: 767px) {
    margin: auto;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    margin: auto;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 206px;
  }
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.address-map {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-text-color);
  text-decoration: none;

  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
  }
}
.address-link {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    display: block;
    text-align: center;
  }
}

.join-footer {
  display: flex;
}

.footer-social-link {
  background-color: #44454e;
}
.footer-icon {
  fill: white;
}

// .footer {
//   padding-top: 60px;
//   padding-bottom: 60px;
//   background-color: #2f303a;
// }
// .footer-items {
//   display: flex;
//   align-items: baseline;
// }

// .footer-contacts {
//   margin-right: 70px;
// }
// .footer-join {
//   display: flex;
//   flex-direction: column;
// }
// .join {
//   width: 206px;
//   margin-bottom: 20px;
//   font-weight: bold;
//   font-size: 14px;
//   line-height: 1.14;
//   text-transform: uppercase;
//   color: var(--white-text-color);
// }

// .address {
//   display: flex;
//   flex-direction: column;
//   font-style: normal;
// }
// .address-map {
//   margin-bottom: 9px;
//   font-size: 14px;
//   line-height: 1.71;
//   color: var(--white-text-color);
//   text-decoration: none;
// }
// .address-link {
//   margin-bottom: 9px;
//   font-size: 14px;
//   line-height: 1.71;
//   color: rgba(255, 255, 255, 0.6);
//   text-decoration: none;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .join-footer {
//   display: flex;
// }

// .footer-social-link {
//   background-color: #44454e;
// }
// .footer-icon {
//   fill: white;
// }
