.hero-section {
  margin: 0 auto;
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg.jpg);
  background-size: cover;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-header {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
  }
}

// .hero-section {
//   width: 1600px;
//   margin: 0 auto;
//   background-color: #2f303a;
//   padding-top: 200px;
//   padding-bottom: 200px;
//   background-image: linear-gradient(
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/bg.jpg);
//   background-size: cover;
// }

// .hero-header {
//   margin-bottom: 30px;
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.4;
//   text-align: center;
//   letter-spacing: 0.06em;
//   color: var(--white-text-color);
// }
