.portfolio-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.portfolio-list-item {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-top: 30px;
    margin-left: 30px;
  }
}

.portfolio-link {
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.portfolio-img {
  width: 100%;
  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 294px;
  }
}
.portfolio-link-sign {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
  border-top: 0;
}
.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.portfolio-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  overflow: auto;
  background-color: var(--accent-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-text-color);

  padding: 63px 24px;
  background-color: var(--accent-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0%);
  }
}
