:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-background-color: #f5f4fa;
  --header-background-color: #ffffff;
  --border-color: #eeeeee;
}

/* цвет шрифта лого #000000; */
/* цвет телефона и міла в футере color: rgba(255, 255, 255, 0.6); */
/* ховер на кнопке rgba(255, 255, 255, 0) 100%) */
